@model Gallery.WEB.Models.UserViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div>
    <h4>@Html.DisplayFor(model => model.Login)</h4>
    <hr />
    <div class="dl-horizontal">
        <div>
            <b class="space">@Html.DisplayNameFor(model => model.Name)</b>
            @Html.DisplayFor(model => model.Name)
        </div>

        <div>
            <b class="space">@Html.DisplayNameFor(model => model.Login)</b>
            @Html.DisplayFor(model => model.Login)
        </div>

        <div>
            <b class="space">@Html.DisplayNameFor(model => model.Email)</b>
            @Html.DisplayFor(model => model.Email)
        </div>



        @Html.HiddenFor(model => model.PhotoUser)
        @Html.HiddenFor(model => model.Roles)

        @{string roleName = ""; }
        <div class="hidden">
            <select>
                @for (int i = 0; i < Model.Roles.Count; i++)
            {
                if (Model.RoleId == Model.Roles[i].Id)
                {
                    <option selected>@Model.Roles[i].Name</option>
                roleName = @Model.Roles[i].Name;
            }
            else
            {
                <option>@Model.Roles[i].Name</option>
        }
    }
            </select>
        </div>
        <div>
            <b class="space"> Role</b>
            @roleName
        </div>
    </div>
</div>

<div class="form-group">
    <div class="">
        @if (!string.IsNullOrWhiteSpace(Model.PhotoUser))
        {
            <img class="" src="@Html.DisplayFor(modelItem => modelItem.PhotoUser)" />
        }
        else
        {
            <img class="gag" src="~/images/user-icon.png" />
        }
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Users", "Index", "User")
</p>


